#cart-widget > span {
  color: pink;
  padding-left: 1rem;
  font-weight:bold;
}

#cart-widget img {
  mix-blend-mode: multiply;
  width: 100px;
}


.navbar > .container {
  font-size: 31px;
}


.navbar-brand {
  font-size: inherit;
}